aws_region = "us-east-1"
namespace = "corrigan-ptfe"
aws_instance_type = "m5.large"
ssh_key_name = "<aws_ssh_key_name_here>"
ssh_key_path = "/path/to/.ssh/private_ssh_key"
license_path = "path/to/ptfe-license"
owner = "youremail@email.com"
ttl = "-1"
s3_bucket = "bucket"
s3_key = "s3_key"